langchain
langchain-core
langchain-groq
langgraph
chromadb
langchain-chroma
langchain-huggingface
sentence-transformers
torch
torchvision
python-dotenv
requests
beautifulsoup4
tavily-python
ddgs
feedparser